<p><%= @name %>さんの投稿一覧</p>
  <div class="border border-left-0 border-right-0 border-bottom-0 py-3 row">
    <% @posts.each do |post| %>
        <div class="col-10 px-3">
          <p class="my-1">
            <span class="text-secondary"><%= time_ago_in_words(post.created_at) %> ago</span>
              <% if user_signed_in? && current_user.id == post.user_id %>
                <%= link_to '削除',"/posts/#{post.id}", method: :delete %>
                <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
               <% end %> 
          </p>      
          <%= simple_format(post.body) %>
        </div>
      <% end %>
  </div>